{{partial "header.html" . }}

<div id="content-inside" class="container right-sidebar">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <article id="post-128" class="post-128 post type-post status-publish format-standard hentry category-press-release">
	<header class="entry-header">
	  <h1 class="entry-title">{{ .Title }}</h1>
	  <div class="entry-meta">
	    <span class="posted-on">Posted: <a href="{{ .Permalink }}" rel="bookmark"><time class="entry-date published">{{ .Date.Format "2006-1-2 15:04" }}</time></a></div><!-- .entry-meta -->
	</header><!-- .entry-header -->

	<div class="entry-content">
	  {{ .Content }}
	</div><!-- .entry-content -->

	<footer class="entry-footer">
	</footer><!-- .entry-footer -->
      </article><!-- #post-## -->
    </main><!-- #main -->
    
  </div><!-- #primary -->
  
  <div id="secondary" class="widget-area sidebar" role="complementary">
    <aside id="archives-4" class="widget widget_archive"><h2 class="widget-title">Archives</h2>		<ul>
	<li><a href='http://ogiqvo.com/?m=201611'>2016年11月</a>&nbsp;(1)</li>
	<li><a href='http://ogiqvo.com/?m=201512'>2015年12月</a>&nbsp;(1)</li>
	<li><a href='http://ogiqvo.com/?m=201511'>2015年11月</a>&nbsp;(1)</li>
      </ul>
  </aside></div><!-- #secondary -->
  
</div><!--#content-inside -->

{{partial "footer.html" . }}
