{{partial "header.html" . }}

<div class="page-header">
  <div class="container">
    <h1 class="entry-title">会社案内 Company</h1>
  </div>
</div>

<div id="content-inside" class="container no-sidebar">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <article id="post-22" class="post-22 page type-page status-publish hentry">
	<header class="entry-header">
	</header><!-- .entry-header -->

	<div class="entry-content">
	  <dl>
	    <dt>社名 Company name</dt>
	    <dd>オギクボ開発株式会社 Ogiqvo Development Corporation</dd>
	    <dt>代表取締役 CEO</dt>
	    <dd>川島 和澄 Izumi Kawashima</dd>
	    <dt>本社所在地 Location</dt>
	    <dd>〒167-0032 東京都杉並区天沼2-5-21 Amanuma, Suginami-ku, Tokyo, Japan</dd>
	    <dt>設立 Founded</dt>
	    <dd>2016年6月 June 2016</dd>
	    <dt>資本金 Capital</dt>
	    <dd>300万円 JPY 3,000,000</dd>
	    <dt>事業内容 Business</dt>
	    <dd>
	      <ol>
		<li>コンピュータソフトウェアの開発、製造、販売及び保守管理 Developing, selling, maintenance and managing computer software</li>
		<li>コンピュータシステムによるデータ処理 Data processing with computer systems</li>
		<li>建築物の各種空間に関するデータ収集、整理及び解析業務 Collecting, regulating and analyzing construction spatial data</li>
		<li>鉄道、バス、航空機、船舶など移動手段、交通機関に関する情報のデータ収集、整理及び解析業務 Collecting, regulating and analyzing transportation (trains, buses, airplanes, ships and so on) data</li>
		<li>収集データの解析に基づく情報提供サービス事業 Providing services using the data which are collected, regulated analysed</li>
	      </ol>
	    </dd>
	    <dd></dd>
	  </dl>
	</div><!-- .entry-content -->
      </article><!-- #post-## -->
    </main><!-- #main -->
  </div><!-- #primary -->
</div><!--#content-inside -->

{{partial "footer.html" . }}
